In [1]:
import pandas as pd
import numpy as np

In [8]:
data = np.array([[2.4, 1, 9], [5.6, 5, 8], [10, 6, 9], [6, 7, 2], [7, 6, 8]])
x = pd.DataFrame(data.T, columns=["allele1", "allele2", "allele3", "allele4", "allele5"], index=["A", "B", "C"])
x.index = x.index.rename("sample_ID")
x = x.round().astype(int)

min_x = x.min().min()
max_x = x.max().max()

y = pd.DataFrame(np.zeros((x.shape[0], max_x)), columns=[np.arange(min_x, max_x + 1)], index=[x.index.values]).astype(int)  # initialize y with zeros
y.index = y.index.rename(x.index.name)  # rename y index to 'sample_ID'

indices = x.index.values
columns = [col[0] for col in y]
for index in indices:
    nums = x.loc[index, :]
    for num in nums:
        if num in columns:
            y.loc[index, columns.index(num) + 1] = 1  # +1 to offset indexing
        
y

          1  2  3  4  5  6  7  8  9  10
sample_ID
A          0  1  0  0  0  1  1  0  0  1
B          1  0  0  0  1  1  1  0  0  0
C          0  1  0  0  0  0  0  1  1  0

In [1]:
################################################################

In [90]:
price1 = np.random.randint(1000, 5000, 4)
price2 = np.random.randint(1000, 5000, 4)
price3 = np.random.randint(1000, 5000, 4)
price4 = np.random.randint(1000, 5000, 4)
countries = ["france", "belgique", "philippines", "spain"]

In [91]:
np.random.seed(0)
val = [np]

data = {"price1": price1,"price2": price2, "price3": price3, "price4": price4, "country": countries}
df = pd.DataFrame(data)
df

   price1  price2  price3  price4      country
0    3732    1835    2033    2828       france
1    3607    1763    4795    3647     belgique
2    2653    2731    1277    4142  philippines
3    4264    4431    2778    4544        spain

In [92]:
def update(row, val, country):
    for i in range(len(row) - 1): # assuming that col country is the last field
        if row[i] > val and row["country"] == country:
            row[i] = val
    
    return row

In [96]:
# test case
df_updated = df.apply(update, val=2000, country="philippines", axis=1)
df_updated

   price1  price2  price3  price4      country
0    3732    1835    2033    2828       france
1    3607    1763    4795    3647     belgique
2    2000    2000    1277    2000  philippines
3    4264    4431    2778    4544        spain

In [90]:
# String format inquiry
# Remove digits after . in average_time column

df = pd.DataFrame({"TOTAL_TIME": ["0:15:13", "1:38:55"], "AVERAGE_TIME": [pd.Timedelta("0:07:36.500000"), pd.Timedelta("0:32:58.333333")]})
df

  TOTAL_TIME           AVERAGE_TIME
0    0:15:13 0 days 00:07:36.500000
1    1:38:55 0 days 00:32:58.333333

In [91]:
# ref: https://stackoverflow.com/questions/8906926/formatting-timedelta-objects/8907269#8907269

# Function that handles timedelta dtype
def strfdelta(tdelta, fmt):
    d = {"D": tdelta.days}
    d["H"], rem = divmod(tdelta.seconds, 3600)
    d["M"], d["S"] = divmod(rem, 60)
    
    return fmt.format(**d)

In [92]:
new_col = df["AVERAGE_TIME"].apply(strfdelta, fmt="{H}:{M}:{S}")
df["AVERAGE_TIME"] = new_col
df

  TOTAL_TIME AVERAGE_TIME
0    0:15:13       0:7:36
1    1:38:55      0:32:58

In [115]:
df["AVERAGE_TIME"]\
    .apply(lambda s: s.split(":"))\
    .apply(lambda s: ":".join([n.zfill(2) for n in s]))

0    00:07:36
1    00:32:58
Name: AVERAGE_TIME, dtype: object